In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('2021-2022[1].csv')
df.head()
#df.duplicated()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Columns: 106 entries, Div to AvgCAHA
dtypes: float64(82), int64(16), object(8)
memory usage: 314.8+ KB

In [8]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [7]:
df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,379.000000,379.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.513158,1.305263,0.681579,0.589474,13.847368,11.736842,4.678947,4.142105,10.055263,10.157895,...,2.070053,-0.248026,1.933193,1.966069,1.951105,1.975447,2.021211,2.054711,1.926868,1.958500
std,1.326545,1.258836,0.832187,0.808853,5.661784,5.348460,2.600402,2.589978,3.444180,3.718501,...,0.404372,0.950713,0.104168,0.099308,0.105294,0.106912,0.113965,0.111772,0.093221,0.094822
min,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,1.000000,2.000000,...,1.480000,-2.750000,1.650000,1.700000,1.660000,1.720000,1.800000,1.820000,1.700000,1.750000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,8.000000,3.000000,2.000000,8.000000,7.000000,...,1.780000,-0.750000,1.855000,1.900000,1.870000,1.907500,1.940000,1.960000,1.850000,1.890000
50%,1.000000,1.000000,0.000000,0.000000,13.500000,11.000000,4.000000,4.000000,10.000000,10.000000,...,1.990000,-0.250000,1.940000,1.970000,1.950000,1.970000,2.010000,2.050000,1.925000,1.955000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,15.000000,6.000000,6.000000,12.000000,12.250000,...,2.230000,0.250000,2.020000,2.050000,2.020000,2.050000,2.100000,2.140000,2.000000,2.040000
max,7.000000,6.000000,4.000000,4.000000,31.000000,31.000000,15.000000,14.000000,22.000000,25.000000,...,3.780000,2.500000,2.150000,2.200000,2.260000,2.380000,2.850000,2.520000,2.150000,2.230000

In [11]:
df1 = df.drop(columns=['Date','Time'])
df1.shape
df1.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,Brentford,Arsenal,2,0,H,1,0,H,M Oliver,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,Man United,Leeds,5,1,H,1,0,H,P Tierney,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,Burnley,Brighton,1,2,A,1,0,H,D Coote,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,Chelsea,Crystal Palace,3,0,H,2,0,H,J Moss,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,Everton,Southampton,3,1,H,0,1,A,A Madley,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [12]:
round((df1.isnull().sum()/df1.shape[0])*100,2)

Div         0.0
HomeTeam    0.0
AwayTeam    0.0
FTHG        0.0
FTAG        0.0
           ...
PCAHA       0.0
MaxCAHH     0.0
MaxCAHA     0.0
AvgCAHH     0.0
AvgCAHA     0.0
Length: 104, dtype: float64

In [14]:
df2 = df1.drop(columns=['Referee'])
df2.shape
df2.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,Brentford,Arsenal,2,0,H,1,0,H,8,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,Man United,Leeds,5,1,H,1,0,H,16,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,Burnley,Brighton,1,2,A,1,0,H,14,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,Chelsea,Crystal Palace,3,0,H,2,0,H,13,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,Everton,Southampton,3,1,H,0,1,A,14,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [15]:
df2.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,...,380.000000,380.000000,379.000000,379.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.513158,1.305263,0.681579,0.589474,13.847368,11.736842,4.678947,4.142105,10.055263,10.157895,...,2.070053,-0.248026,1.933193,1.966069,1.951105,1.975447,2.021211,2.054711,1.926868,1.958500
std,1.326545,1.258836,0.832187,0.808853,5.661784,5.348460,2.600402,2.589978,3.444180,3.718501,...,0.404372,0.950713,0.104168,0.099308,0.105294,0.106912,0.113965,0.111772,0.093221,0.094822
min,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,1.000000,2.000000,...,1.480000,-2.750000,1.650000,1.700000,1.660000,1.720000,1.800000,1.820000,1.700000,1.750000
25%,1.000000,0.000000,0.000000,0.000000,9.000000,8.000000,3.000000,2.000000,8.000000,7.000000,...,1.780000,-0.750000,1.855000,1.900000,1.870000,1.907500,1.940000,1.960000,1.850000,1.890000
50%,1.000000,1.000000,0.000000,0.000000,13.500000,11.000000,4.000000,4.000000,10.000000,10.000000,...,1.990000,-0.250000,1.940000,1.970000,1.950000,1.970000,2.010000,2.050000,1.925000,1.955000
75%,2.000000,2.000000,1.000000,1.000000,17.000000,15.000000,6.000000,6.000000,12.000000,12.250000,...,2.230000,0.250000,2.020000,2.050000,2.020000,2.050000,2.100000,2.140000,2.000000,2.040000
max,7.000000,6.000000,4.000000,4.000000,31.000000,31.000000,15.000000,14.000000,22.000000,25.000000,...,3.780000,2.500000,2.150000,2.200000,2.260000,2.380000,2.850000,2.520000,2.150000,2.230000

Div = League Division
Date = Match Date (dd/mm/yy)
Time = Time of match kick-off
HomeTeam = Home Team
Away team = Away Team
FTHG and HG = Full Time Home Team Goals
FTAG and AG = Full-Time Away Team Goals
FTR and Res = Full-Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG = Half Time Home Team Goals
HTAG = Half Time Away Team Goals
HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)
Match Statistics (where available)

Attendance = Crowd Attendance
Referee = Match Referee
HS = Home Team Shots
AS = Away Team Shots
HST = Home Team Shots on Target
AST = Away Team Shots on Target
HHW = Home Team Hit Woodwork
AHW = Away Team Hit Woodwork
HC = Home Team Corners
AC = Away Team Corners
HF = Home Team Fouls Committed
AF = Away Team Fouls Committed
HFKC = Home Team Free Kicks Conceded
AFKC = Away Team Free Kicks Conceded
HO = Home Team Offsides
AO = Away Team Offsides
HY = Home Team Yellow Cards
AY = Away Team Yellow Cards *HR = Home Team Red Cards AR = Away Team Red Cards HBP = Home Team Bookings Points (10 = yellow, 25 = red) ABP = Away Team Bookings Points (10 = yellow, 25 = red)

In [16]:
df2.head()

,Div,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,Brentford,Arsenal,2,0,H,1,0,H,8,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,Man United,Leeds,5,1,H,1,0,H,16,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,Burnley,Brighton,1,2,A,1,0,H,14,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,Chelsea,Crystal Palace,3,0,H,2,0,H,13,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,Everton,Southampton,3,1,H,0,1,A,14,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [19]:
X = df2[['FTHG','FTAG','HTHG','HTAG']]
Y = df2['FTR']

In [ ]:
import pandas as pd
from sklear.model_selection import